@model newswar.Models.silahlar
@{
    ViewBag.Title = "infosilahuser";
    Layout = "~/Shared/layout.cshtml";
}


<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <div class="imgHolder">
            @foreach (var item in Model.Silahsekils)
            {
                if (item.sekilmain==true)
                {

            <img src="@item.sekilad"
                 id="MainImg" alt="">
                }
            }

        </div>
        <div class="small-img-group">
            @foreach (var item in Model.Silahsekils)
            {

            <div class="small-img-col small-img">
                <img src="@item.sekilad"
                     width="100%" alt="">
            </div>
            }
            

        </div>
    </div>

    <div class="single-pro-details">
        <h6>@Model.Subcategory.Category.categoryname / @Model.Subcategory.subaname</h6>
        <h2>@Model.silahad</h2>

        <h4>Silah haqda</h4>

        <span>
        @Model.silahdetal
        </span>
    </div>
</section>

@Html.Action("benzerpartial")

<section id="newsletter" class="section-p1 section-p1">
    <div class="newstext">
        <h4>Qejdijatdan kewcin</h4>
        <p>Jeni jazylardan anynda xeberdar olun</p>
    </div>
    <div class="form">
        <input type="text" placeholder="E-powct uenvanynyz">
        <button class="normal">Qejd ol</button>
    </div>
</section>
<footer class="section-p1">
    <div class="col">
        <img class="logo" src="~/Content/pix/logo1main.png" alt="">
        @Html.Action("partialelaqe", "home")

        @Html.Action("partialfooter", "home")
    </div>
    <div class="col">
        <h4>Haqqymyzda</h4>
        <a href="#">Lajihe meqsedi</a>
        <a href="#">Reklam uewcun</a>--

    </div>

    <div class="col">
        <h4>Boelmeler</h4>
        <a href="#">Son hadiseler</a>
        <a href="#">Silahlar & texnikalar</a>
        <a href="#">Herb tarixi</a>

    </div>


    <div class="copyright">
        <p>FiBWEB MMC mehsuludur</p>
    </div>
</footer>

<style>
    .activeli a.active {
        background-color: #04300C;
        color: white;
    }
</style>